{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2>Clientes</h2>
            {% block formulario %}{% endblock %}
            {% block infocliente %}{% endblock %}
    </div>
{% endblock %}