{% extends 'base.html.twig' %}

{% block body %}    
    <h3>Historia</h3>
    <nav class="navbar navbar-default navbar-fixed-botton">
        <div class="container">
            ...
        </div>
    </nav>
{% endblock %}