{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="roboto">Historia</h2>

        <div class="col-sm-offset-1 col-sm-4 borde-caja">
            <h3 class="roboto">Misión</h3>
            <p class="roboto justificado">
                Vivamus placerat lorem non odio viverra, semper congue sem placerat. Donec vehicula rutrum nunc nec varius. Cras in mi et magna varius posuere volutpat id metus. Fusce in posuere quam. Pellentesque imperdiet ornare magna. Pellentesque vestibulum blandit porttitor. Nam convallis arcu eget magna dapibus pulvinar.
            </p>
        </div>
        <div class="col-sm-offset-2 col-sm-4 borde-caja">
            <h3 class="roboto">Visión</h3>
            <p class="roboto justificado">
                Vivamus placerat lorem non odio viverra, semper congue sem placerat. Donec vehicula rutrum nunc nec varius. Cras in mi et magna varius posuere volutpat id metus. Fusce in posuere quam. Pellentesque imperdiet ornare magna. Pellentesque vestibulum blandit porttitor. Nam convallis arcu eget magna dapibus pulvinar.
            </p>
        </div>
    </div>
{% endblock %}