/**{
    color: black;
}*/

h2{
    margin-top: 0px;
}

h2, h3{
    font-weight: bold;
    color: black;
}

p{
    color: black;
}

ul li a {
    font-family: 'Pacifico', sans-serif;
    color: #006600;
    font-size: 1.5em;
}

.footer{
    text-align: center;
}

.nav {
    background-color: #e68a00;
}
.nav-justified {
    background-color: #e68a00;
}

ul li a:hover {    
    color: #e68a00;
}

.navbar-default{
    background-color: #FFFFFF;
}

.navbar-header{
    background-color: #e68a00;
}

.borde-caja{
    border: 0px solid black;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.justificado{
    text-align: justify;
}
/*Arias*/
body{
    background-image: url(../img/fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container{
   padding-left: 30px;
   padding-right: 30px;
}

.container-fluid{
    padding: 0px;
}

@media (min-width: 768px){
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }
}