{% extends 'PaginasBundle:Default:clientes.html.twig' %}

{% block formulario %}
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="form-horizontal" method="POST" action="{{path('login')}}">
            <div class="form-group">
                <h3 style="margin-bottom: 0px;">Iniciar Sesion</h3>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Correo</label>
                {#                <div class="col-sm-10">#}
                <input name="correo" type="email" class="form-control" id="inputEmail3" placeholder="Email"/>
                {#                </div>#}
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="control-label">Contraseña</label>
                {#                <div class="col-sm-10">#}
                <input name="pass" type="password" class="form-control" id="inputPassword3" placeholder="Password"/>
                {#                </div>#}
            </div>

            <div class="form-group text-center">
                {#                <div class="col-sm-offset-2 col-sm-10">#}
                <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-log-in"></span> Ingresar</button>
                {#                </div>#}
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
{% endblock %}